<div id="gdpr_compliance_banner">
  <form id="gdpr_compliance" class="hidden">
    <label for="gdpr_compliance_necessary">Necessary</label>
    <input id="gdpr_compliance_necessary" type="checkbox" disabled="true" checked>

    <label for="gdpr_compliance_statistics">Statistics</label>
    <input id="gdpr_compliance_statistics" type="checkbox">

    <label for="gdpr_compliance_marketing">Marketing</label>
    <input id="gdpr_compliance_marketing" type="checkbox">

    <input id="gdpr_compliance_btn" type="submit">
  </form>
</div>
